.info-modal {
    position: absolute;
    width: calc(100vw - 390px);
    background: white;
    border-radius: 10px;
    z-index: 9;
    margin: 15px;
    box-shadow: 0px 0px 50px #0000004f;
    right: 0;
    height: 30%;
    overflow: scroll;
    padding: 15px;
}


.info-holder * {
    text-align: left;
}
.info-holder p {
    font-size: 14px;
    color: gray;
}

.modal-head {
    position: relative;
}
.modal-head .info-title {
    color: #0072ff;
}

.info-modal .close {
    font-size: 15px;
    border: none;
    background: none;
    padding: 10px;
    text-decoration: underline;
    color: red;
    position: absolute;
    top: -10px;
    right: 10px;
}

.info-modal .close:hover {
 cursor: pointer;
}

@media screen and (max-width: 500px) {
    .info-modal {
      width: calc(100vw - 60px);
      height: calc(100vh - 155px);
      margin-top: 110px;
    }
  }