h3 {
  text-align: center;
  margin: 30px 0px;
}

.sidebar {
  z-index: 10;
  margin: 15px;
  width: 300px;
  height: calc(100vh - 30px);
  background-color: #fff;
  display: block;
  position: absolute;
  float: left;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #0000004f;
  overflow: scroll;
  transition: .2s margin-left ease-in-out;
}

.hide {
  margin-left: -220px;
}
.show {
  margin-left: 15px; 
}

.search-field {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  padding: 0px 15px 15px 15px;
  width: calc(100% - 30px);
}

.search-text {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #b5b5b5;
  border-radius: 40px;
  width: 100%;
}


.sidebar-places {
  padding: 0;
  margin: 0px 15px;
}

.sidebar-list {
  color: gray;
  list-style: none;
  padding: 15px 0px;
  border-bottom: 1px solid #e4e4e4;
}

.sidebar-list:last-child {
  border: none;
}

.sidebar-list:hover{
  cursor: pointer;
  color: #0072ff;
  border-bottom-color: darkgray;
}

.sidebar-title {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px 15px;
}
.sidebar-title h3 {
  width: 65%;
  text-align: left;
}
.sidebar-title button {
  margin: 15px 0px;
  width: 35%;
  color: gray;
  border: none;
  background: white;
  border-radius: 10px;
  font-size: 15px;
  text-decoration: underline;
  text-align: right;
}
.sidebar-title button:hover {
  cursor: pointer;
}